/* CSS Document */
.content_login{
	height:					580px;
	width:					1080px;
	background-color:		#FFF;
	border:					2px solid #FFF;
	border-radius:			20px;
	-moz-border-radius:		20px; /* Old Firefox */
	margin:					20px auto 20px auto;
}
	