/* CSS Document */
.content_promo{
		width:				1080px;
		margin:				10px 0px 10px 0px;
		padding:			0px 0px 0px 0px;
		float:				left;
	}
		.content_promo_title{
		width:				400px;
		margin:				0px 0px 0px 0px;
		padding:			0px 0px 0px 0px;
		float:				left;
		}
			.content_promo_title h1{
			font-size:			1.1em;
			color:	 			#1F5070;
			}
		.content_promo_phone{
			width:				470px;
			height:				30px;
			margin:				5px 0px 0px 0px;
			padding:			7px 0px 0px 20px;
			float:				right;
		}
			.content_promo_phone p{
				font-size:			1.05em;
				color:				#333;
				text-align:			right;
				float:				right;
			}
			#promo_phone_img{
				margin:				-5px 5px 0px 0px;
				
			}
		.content_promo_select{
			width:				1080px;
			margin:				0px 0px 0px 0px;
			padding:			0px 0px 0px 0px;
			float:				left;
		}
.content_reminders{
	height:				400px;
	width:				800px;
	margin:				0;
	padding:			0;
	float:				left;
}
	.content_reminders h1{
		height:				auto;
		width:				780px;
		margin:				0;
		padding:			10px 10px;
		float:				left;
		font-size:			1.3em;
		font-weight:		bold;
		color:				#1F5070;
	}
	.content_reminders p{
		height:				auto;
		width:				780px;
		margin:				0;
		padding:			0px 10px;
		float:				left;
		color:				#1F5070;
	}
	.content_reminders_form{
		height:				180px;
		width:				780px;
		margin:				0;
		padding:			10px 10px;
		float:				left;
		color:				#333333;
	}
		.content_reminders_form_items{
			height:				30px;
			width:				190px;
			margin:				0;
			padding:			0;
			float:				left;
			color:				#333333;
		}
		.content_reminders_form_items p{
			height:				auto;
			width:				190px;
			margin:				4px 0;
			padding:			0;
			float:				left;
			color:				#333333;
		}
		.content_reminders_form_descripcion{
			height:				130px;
			width:				760px;
			margin:				20px 0 0 0;
			padding:			0;
			float:				left;
			color:				#333333;
		}
		.content_reminders_form_descripcion p{
			height:				auto;
			width:				190px;
			margin:				5px 0;
			padding:			0;
			float:				left;
			color:				#333333;
		}
		.content_reminders_form_descripcion textarea{
			height:				100px;
			width:				710px;
			margin:				0;
			padding:			0;
			float:				left;
			color:				#333333;
		}
	#remindersbutton{
		height:				auto;
		width:				auto;
		padding:			8px 10px;
		margin:				10px;
		float:				left;
		color:				#fff;
		cursor:				pointer;
		background: 		rgb(0,176,218); /* Old browsers */
		background:			-moz-linear-gradient(top,  rgba(0,176,218,1) 0%, rgba(19,152,178,1) 100%); /* FF3.6+ */
		background: 		-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,176,218,1)), color-stop(100%,rgba(19,152,178,1))); /* Chrome,Safari4+ */
		background: 		-webkit-linear-gradient(top,  rgba(0,176,218,1) 0%,rgba(19,152,178,1) 100%); /* Chrome10+,Safari5.1+ */
		background: 		-o-linear-gradient(top,  rgba(0,176,218,1) 0%,rgba(19,152,178,1) 100%); /* Opera 11.10+ */
		background: 		-ms-linear-gradient(top,  rgba(0,176,218,1) 0%,rgba(19,152,178,1) 100%); /* IE10+ */
		background: 		linear-gradient(to bottom,  rgba(0,176,218,1) 0%,rgba(19,152,178,1) 100%); /* W3C */
		filter: 			progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0da', endColorstr='#1398b2',GradientType=0 ); /* IE6-9 */	
	}
		#remindersbutton:hover{
			color:				#1F5070;
		}