/* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.wrapper {
  margin: 0 auto;
  width: 1140px; }

.grid {
  margin: 0 0 20px 0;
  overflow: hidden; }

[class*='cols-'] {
  float: left;
  padding-right: 20px; }
  .grid [class*='cols-']:last-of-type {
    padding-right: 0; }

.cols-1-1 {
  width: 100%; }

.cols-2-3 {
  width: 66.66%; }

.cols-1-2 {
  width: 50%; }

.cols-1-3 {
  width: 33.33%; }

.cols-1-4 {
  width: 25%; }

.cols-3-4 {
  width: 75%; }

.cols-1-5 {
  width: 20%; }

.cols-3-5 {
  width: 60%; }

.cols-4-5 {
  width: 80%; }

.cols-table-1 {
  width: 5%;
  margin: 0 1em; }

.cols-table-2 {
  width: 17%; }

.cols-table-3 {
  width: 20%; }

.cols-table-4 {
  width: 14%; }

.cols-table-5 {
  width: 25%; }

.container {
  padding: 20px 20px 0; }

/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

.yellow {
  background: #913402;
  background: -moz-linear-gradient(top, #913402 0%, #ffc130 7%, #c6632c 93%, #913402 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #913402), color-stop(7%, #ffc130), color-stop(93%, #c6632c), color-stop(100%, #913402));
  background: -webkit-linear-gradient(top, #913402 0%, #ffc130 7%, #c6632c 93%, #913402 100%);
  background: -o-linear-gradient(top, #913402 0%, #ffc130 7%, #c6632c 93%, #913402 100%);
  background: -ms-linear-gradient(top, #913402 0%, #ffc130 7%, #c6632c 93%, #913402 100%);
  background: linear-gradient(to bottom, #913402 0%, #ffc130 7%, #c6632c 93%, #913402 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#913402', endColorstr='#913402',GradientType=0 ); }

.red {
  background: #ae232a;
  background: -moz-linear-gradient(top, #ae232a 0%, #f4959d 8%, #f23242 95%, #ae232a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ae232a), color-stop(8%, #f4959d), color-stop(95%, #f23242), color-stop(100%, #ae232a));
  background: -webkit-linear-gradient(top, #ae232a 0%, #f4959d 8%, #f23242 95%, #ae232a 100%);
  background: -o-linear-gradient(top, #ae232a 0%, #f4959d 8%, #f23242 95%, #ae232a 100%);
  background: -ms-linear-gradient(top, #ae232a 0%, #f4959d 8%, #f23242 95%, #ae232a 100%);
  background: linear-gradient(to bottom, #ae232a 0%, #f4959d 8%, #f23242 95%, #ae232a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae232a', endColorstr='#ae232a',GradientType=0 ); }

.blue {
  background: #11172f;
  background: -moz-linear-gradient(top, #11172f 0%, #89abf3 7%, #2c3f7a 94%, #11172f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #11172f), color-stop(7%, #89abf3), color-stop(94%, #2c3f7a), color-stop(100%, #11172f));
  background: -webkit-linear-gradient(top, #11172f 0%, #89abf3 7%, #2c3f7a 94%, #11172f 100%);
  background: -o-linear-gradient(top, #11172f 0%, #89abf3 7%, #2c3f7a 94%, #11172f 100%);
  background: -ms-linear-gradient(top, #11172f 0%, #89abf3 7%, #2c3f7a 94%, #11172f 100%);
  background: linear-gradient(to bottom, #11172f 0%, #89abf3 7%, #2c3f7a 94%, #11172f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11172f', endColorstr='#11172f',GradientType=0 ); }

.light_blue {
  background: url(../img/white_wall.png) repeat, #5da6c8;
  background: url(../img/white_wall.png) repeat, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkYTZjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzgzYjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: url(../img/white_wall.png) repeat, -moz-linear-gradient(top, #5da6c8 0%, #4383b0 100%);
  background: url(../img/white_wall.png) repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5da6c8), color-stop(100%, #4383b0));
  background: url(../img/white_wall.png) repeat, -webkit-linear-gradient(top, #5da6c8 0%, #4383b0 100%);
  background: url(../img/white_wall.png) repeat, -o-linear-gradient(top, #5da6c8 0%, #4383b0 100%);
  background: url(../img/white_wall.png) repeat, -ms-linear-gradient(top, #5da6c8 0%, #4383b0 100%);
  background: url(../img/white_wall.png) repeat, linear-gradient(to bottom, #5da6c8 0%, #4383b0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5da6c8', endColorstr='#4383b0',GradientType=0 ); }

.green {
  background: #0f6009;
  background: -moz-linear-gradient(top, #0f6009 0%, #aef48b 8%, #44bf0f 94%, #0f6009 98%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f6009), color-stop(8%, #aef48b), color-stop(94%, #44bf0f), color-stop(98%, #0f6009));
  background: -webkit-linear-gradient(top, #0f6009 0%, #aef48b 8%, #44bf0f 94%, #0f6009 98%);
  background: -o-linear-gradient(top, #0f6009 0%, #aef48b 8%, #44bf0f 94%, #0f6009 98%);
  background: -ms-linear-gradient(top, #0f6009 0%, #aef48b 8%, #44bf0f 94%, #0f6009 98%);
  background: linear-gradient(to bottom, #0f6009 0%, #aef48b 8%, #44bf0f 94%, #0f6009 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f6009', endColorstr='#0f6009',GradientType=0 ); }

.purple {
  background: #581566;
  background: -moz-linear-gradient(top, #581566 0%, #e594ef 8%, #692cd3 93%, #581566 98%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #581566), color-stop(8%, #e594ef), color-stop(93%, #692cd3), color-stop(98%, #581566));
  background: -webkit-linear-gradient(top, #581566 0%, #e594ef 8%, #692cd3 93%, #581566 98%);
  background: -o-linear-gradient(top, #581566 0%, #e594ef 8%, #692cd3 93%, #581566 98%);
  background: -ms-linear-gradient(top, #581566 0%, #e594ef 8%, #692cd3 93%, #581566 98%);
  background: linear-gradient(to bottom, #581566 0%, #e594ef 8%, #692cd3 93%, #581566 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#581566', endColorstr='#581566',GradientType=0 ); }

.gray {
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); }

.beige {
  background: #faf9f5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZjlmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGYwZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #faf9f5 0%, #f4f0e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faf9f5), color-stop(100%, #f4f0e6));
  background: -webkit-linear-gradient(top, #faf9f5 0%, #f4f0e6 100%);
  background: -o-linear-gradient(top, #faf9f5 0%, #f4f0e6 100%);
  background: -ms-linear-gradient(top, #faf9f5 0%, #f4f0e6 100%);
  background: linear-gradient(to bottom, #faf9f5 0%, #f4f0e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf9f5', endColorstr='#f4f0e6',GradientType=0 ); }
  .beige:hover {
    background: #f9edd1; }
  .beige:active {
    background: #f9d590; }

#main_nav {
  margin: 1.7em auto 0;
  padding: 0;
  text-align: justify;
  border: 1px solid #cfcece;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #main_nav li {
    height: 100%;
    cursor: pointer;
    font-size: 1.1em;
    border-bottom: 1px solid #cfcece; }
    #main_nav li:nth-last-child(1) {
      border-bottom: none; }
    #main_nav li a {
      line-height: 3em;
      margin: 0 0 0 0.7em;
      text-decoration: none;
      color: #7d7766; }
  #main_nav li ul li {
    display: none;
    padding: 0.5em 0;
    font-size: 0.9em;
    background: #f3a717;
    border-top: 1px solid #ea9d0c;
    border-bottom: 1px solid #ea9d0c;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #main_nav li ul li:nth-child(1) {
      -webkit-box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.3); }
    #main_nav li ul li a {
      color: white;
      margin: 0 0 0 2.4em; }
      #main_nav li ul li a span {
        float: right;
        margin-right: 15px;
        font-weight: bold;
        font-family: serif;
        display: none; }
    #main_nav li ul li:hover {
      background: #cc890b;
      border-top: 1px solid #9c6908;
      border-bottom: 1px solid #9c6908;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      transition: all 0.1s ease; }
      #main_nav li ul li:hover a {
        color: #e8e7e7;
        margin: 0 0 0 3em; }
        #main_nav li ul li:hover a span {
          display: inline;
          color: #fff; }
    #main_nav li ul li:active {
      background: #b47909;
      border-top: 1px solid #b47909;
      border-bottom: 1px solid #b47909; }
      #main_nav li ul li:active a {
        color: white; }

.button {
  cursor: pointer;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  -webkit-box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.2); }

.upper_corner {
  cursor: pointer;
  margin: -2px;
  border: 1px solid #C7B9A2;
  min-width: 75px;
  color: #aea99b;
  background: #fdfcfb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmNmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGU5ZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fdfcfb 0%, #f0e9e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfcfb), color-stop(100%, #f0e9e0));
  background: -webkit-linear-gradient(top, #fdfcfb 0%, #f0e9e0 100%);
  background: -o-linear-gradient(top, #fdfcfb 0%, #f0e9e0 100%);
  background: -ms-linear-gradient(top, #fdfcfb 0%, #f0e9e0 100%);
  background: linear-gradient(to bottom, #fdfcfb 0%, #f0e9e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfcfb', endColorstr='#f0e9e0',GradientType=0 ); }
  .upper_corner[value*='Ver'] {
    color: #6f6a5a;
    font-size: 1em;
    width: 100%; }
  .upper_corner:hover {
    color: #37342d;
    background: #e4dacb;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZGFjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmRkY2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e4dacb 0%, #e6ddcf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4dacb), color-stop(100%, #e6ddcf));
    background: -webkit-linear-gradient(top, #e4dacb 0%, #e6ddcf 100%);
    background: -o-linear-gradient(top, #e4dacb 0%, #e6ddcf 100%);
    background: -ms-linear-gradient(top, #e4dacb 0%, #e6ddcf 100%);
    background: linear-gradient(to bottom, #e4dacb 0%, #e6ddcf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4dacb', endColorstr='#e6ddcf',GradientType=0 ); }
  .upper_corner:active {
    color: white;
    background: #e4dacb;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZGFjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2QzY2NiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #e4dacb 0%, #d3ccbe 40%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4dacb), color-stop(40%, #d3ccbe));
    background: -webkit-linear-gradient(top, #e4dacb 0%, #d3ccbe 40%);
    background: -o-linear-gradient(top, #e4dacb 0%, #d3ccbe 40%);
    background: -ms-linear-gradient(top, #e4dacb 0%, #d3ccbe 40%);
    background: linear-gradient(to bottom, #e4dacb 0%, #d3ccbe 40%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4dacb', endColorstr='#d3ccbe',GradientType=0 ); }

html, body {
  font-family: "Telex", sans-serif;
  font-size: 16px;
  background: #fbf8f0; }

footer {
  margin: 2em auto 0;
  height: 2em;
  text-align: center;
  font-size: 0.7em; }

.logo {
  background: url(../img/white_logo.png) no-repeat;
  width: 153px;
  height: 32px;
  text-indent: -9999px; }

.user {
  font-size: 0.9em; }
  .user span {
    font-weight: bold; }

#main_app {
  height: 4em;
  vertical-align: middle;
  padding: 1em 0 1.5em;
  font-size: 1em;
  line-height: 2em;
  color: #fff;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2); }

.square {
  margin: 2em auto 0.5em;
  width: 90%;
  height: 300px;
  font-size: 0.85em;
  border: 1px solid #cfcece;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fefefc; }
  .square .title {
    text-align: center;
    width: 100%;
    height: 2em;
    line-height: 2em;
    color: #292828;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #cfcece; }
  .square .content {
    padding: 1em;
    color: #292828; }

#actions {
  padding: 0.5em 0.2em;
  margin: 0 0 -0.5em; }
  #actions .rounded.left {
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: none; }
  #actions .rounded.right {
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    border-left: none; }
  #actions h2 {
    line-height: 2.5em;
    margin-top: -1em;
    font-size: 1.4em;
    color: #8B8B8B; }

#content {
  width: 95%;
  margin: 1.9em auto 0;
  font-size: 0.9em;
  border: 1px solid #cfcece;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  #content .grid {
    margin: 0; }
  #content .item {
    padding: 1em 0;
    text-align: center;
    background: #faf9f5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #content .item:nth-child(odd) {
      background: #e6e3de; }
    #content .item:hover {
      background: #f1efed; }
  #content #table_header {
    width: 100%;
    padding: 1.27em 0;
    color: #5d5a5a;
    background: #e4dacb;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZGFjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iI2QzY2NiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #e4dacb 0%, #d3ccbe 74%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4dacb), color-stop(74%, #d3ccbe));
    background: -webkit-linear-gradient(top, #e4dacb 0%, #d3ccbe 74%);
    background: -o-linear-gradient(top, #e4dacb 0%, #d3ccbe 74%);
    background: -ms-linear-gradient(top, #e4dacb 0%, #d3ccbe 74%);
    background: linear-gradient(to bottom, #e4dacb 0%, #d3ccbe 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4dacb', endColorstr='#d3ccbe',GradientType=0 ); }
    #content #table_header h2 {
      font-weight: bold;
      height: 16px;
      text-align: center;
      text-transform: capitalize; }
  #content h4, #content h6, #content p {
    font-size: 0.9em; }
  #content h4 {
    font-weight: bold; }
  #content img {
    width: 50px; }
    #content img.buttons {
      width: 32px;
      height: 32px;
      cursor: pointer; }
      #content img.buttons.modify {
        margin: 0 0 0 5px; }
      #content img.buttons.delete {
        margin: 0 0 0 15px; }

.filters {
  margin: 1.9em 0 0;
  font-size: 0.9em;
  line-height: 2.4em;
  border: 1px solid #CFCECE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1em;
  background: #FCFCFC; }
  .filters select {
    float: right;
    margin: 0.6em 0; }
