/* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.wrapper {
  margin: 0 auto;
  width: 960px; }

.grid {
  margin: 0 0 20px 0;
  overflow: hidden; }

[class*='cols-'] {
  float: left;
  padding-right: 20px; }
  .grid [class*='cols-']:last-of-type {
    padding-right: 0; }

.cols-1-1 {
  width: 100%; }

.cols-2-3 {
  width: 66.66%; }

.cols-1-2 {
  width: 50%; }

.cols-1-3 {
  width: 33.33%; }

.container {
  padding: 20px; }

/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

.container {
  padding: 0;
  margin: 0;
  height: 1.5em;
  background: #87e0fd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87e0fd), color-stop(40%, #53cbf1), color-stop(100%, #05abe0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
  /* IE6-9 */ }

.menu {
  width: 600px;
  margin: 0 auto;
  margin-top: 1em; }

#main_nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  position: relative;
  line-height: 1.5em; }
  #main_nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    line-height: 1.5em; }
  #main_nav a:link, #main_nav a:visited, #main_nav a:active {
    display: block;
    padding: 0px 5px;
    color: #f4f1ec;
    text-decoration: none;
    width: 150px;
    text-align: center; }
  #main_nav a:hover {
    color: #333; }
  #main_nav li {
    float: left;
    position: relative; }
    #main_nav li ul a:link, #main_nav li ul a:visited, #main_nav li ul a:active {
      background: #17b2e4; }
    #main_nav li ul ul {
      left: 12em;
      margin: 0px 0 0 10px; }
    #main_nav li ul a {
      width: 12em;
      float: left; }
  #main_nav ul {
    position: absolute;
    width: 12em;
    top: 1.5em;
    display: none; }
    #main_nav ul ul {
      top: auto; }
  #main_nav li:hover ul ul, #main_nav li:hover ul ul ul, #main_nav li:hover ul ul ul ul {
    display: none; }
  #main_nav li:hover ul, #main_nav li li:hover ul, #main_nav li li li:hover ul, #main_nav li li li li:hover ul {
    display: block; }
