!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]>
/[endif]
%html.no-js{:lang => "es"}
	%head
		%meta{:charset => "utf-8"}/
		/ Set the viewport width to device width for mobile
		%meta{:content => "width=device-width", :name => "viewport"}/
		%title Bienvenido, <name>
		/ Included CSS Files (Compressed)
		%link{:href => "../css/styles.css", :rel => "stylesheet"}
		%link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
		%link{:href => "http://fonts.googleapis.com/css?family=Telex", :rel => "stylesheet", :type => "text/css"}
		/ IE Fix for HTML5 Tags
		/ [if lt IE 9]
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<style type="text/css">
		\.gradient {
		filter: none;
		}
		</style>
	%body
		/application header
		%header#main_app.blue
			.wrapper
				.grid
					.cols-1-5
						.logo Logo de Karizmi
					%nav.cols-3-5
						%ul#main_nav
							%li
								%a{:href => "#"} Inventario
							%li
								%a{:href => "#"} Ventas
							%li
								%a{:href => "#"} Diseño
							%li
								%a{:href => "#"} Sistema
					.cols-1-5
						.user
							%p
								Bienvenido,
								%span <nombre>
		.container
			.wrapper
				.grid
					#actions
						.cols-1-2
							%h2 
								Producto
						.cols-1-2
							%input.button.small.light_blue{:value => "Eliminar", :type => "button"}
							%input.button.small.light_blue{:value => "Modificar", :type => "button"}
							%input.button.small.light_blue{:value => "Nuevo", :type => "button"}
				.grid
					.cols-3-4
						%table
							%thead
								%tr
									%th
										&#9660
									%th
										Imagen
									%th
										Nombre
									%th
										Estatus
									%th
										Disponibilidad
									%th
										Acciones
							%tbody
								%tr
									%td
										%input{:type => "checkbox"}
					.cols-1-4
						.filters
							%form
								%h4
									Estatus
									%select
										%option Seleccione...
								%h4
									Disponibilidad
									%select
										%option Seleccione...
								%h4
									Nombre
									%select
										%option Seleccione...
								%input.button.small.light_blue{:value => "Ver", :type => "Submit"}
				%footer
					.wrapper
						.grid
							.cols-1-1
								%p
									Información confidencial