//variables
$base: #17b2e4;
$border-size: 15px;
$pad: 1.5em;

.filters{
	width: 50%;
	margin: 0 auto;
	padding: 0.85em 1em;
	border: 1px lighten($base, 45%) solid;
	border-bottom-right-radius:$border-size;
	border-bottom-left-radius:$border-size;
	& h2{
		font-size: 1.1em;
	}

	& h4{
		font-size: 0.8em;
	}
	& select{
		text-align:right;
	}
}

//setting the margins for the filters select boxes
#status_select{
	margin-left: 5em;
}

#availability_select{
	margin-left: 1.4em;
}

#occasion_select{
	margin-left: 4.6em;
}

//products styles

.grid.products{
	margin-top: 2.5em;
}

//setting the styles for the list items
.explanation{
	ol li {
		display: inline-block;
		width: 182px;
		height: auto;
		text-align:center;
		padding: 0.25em;
	}
}

.symbols{
	//size of the container
	background: url(../img/admin_items.png);
	width: 16px;
	height: 16px;
	position: relative;
	top: -17px;
	left: 13px;
	&.status{
		background-position: -86px -34px;
		left: 36px;
	}
	&.availability{
		background-position: -104px -34px;
	}
	&.actions{
		background-position: -200px -17px;
		left: 32px;
	}
}

.item{
	padding: 1em 0;
	//image
	& .img{
		width: 60px;
		height: 60px;
		background: #333;
		margin: 0 auto;
		text-indent: -9999px;
	}
	//product texts
	& .product{

		& .name{

		}
		& .status{

		}
		& .availability{

		}
		&.actions{
			
		}
	}

	//list styles
	&:hover{
		background: rgba(#000,0.15)
	}
	&:nth-child(odd){
		background: lighten($base, 45%);
		&:hover{
			background: rgba(#000,0.15)
		}
	}
	ol li {
		display: inline-block;
		width: 182px;
		height: auto;
		text-align:center;
		padding: 0.25em;
	}
}

//inventory_action styles

.wrapper.main{
	margin: $pad auto 0;
}

#main-form{
	padding: 0.85em 1em;
	//texts
	h2{

	}
	h4{

	}

	#title-fix{
		margin-top: 1em;
	}

	//inside elements
	& input[type="text"]{
		width: 96%;
		margin: $pad auto;
	}
	& select {
		width: 65%;
		margin: $pad auto;
		&#sizes_select{
			width: 35%;
		}
		&[multiple="multiple"]{
			width: 96%;
		}
	}
	& input[type="submit"]{
		width: 30%;
		margin: $pad auto;
	}

	& textarea{
		width: 96%;
		margin: $pad auto;
	}

	& #status_select{
		margin: 2.9em auto $pad;
	}

	& #availability_select{
		margin: $pad auto;
	}
}

#submit_form{
	border:none;
	height: 30px;
	width: 25%;
}