//variables
$base: #17b2e4;
$border-size: 15px;

.filters{
	width: 50%;
	margin: 0 auto;
	padding: 0.85em 1em;
	border: 1px lighten($base, 45%) solid;
	border-bottom-right-radius:$border-size;
	border-bottom-left-radius:$border-size;
	& h2{
		font-size: 1.1em;
	}

	& h4{
		font-size: 0.8em;
	}
	& select{
		text-align:right;
	}
}

//setting the margins for the filters select boxes
#status_select{
	margin-left: 5em;
}

#availability_select{
	margin-left: 1.4em;
}

#occasion_select{
	margin-left: 4.6em;
}

//products styles

.grid.products{
	margin-top: 2.5em;
}

//setting the styles for the list items
.explanation{
	ol li {
		display: inline-block;
		width: 182px;
		height: auto;
		text-align:center;
		padding: 0.25em;
	}
}

.symbols{
	//size of the container
	background: url(../img/admin_items.png);
	width: 32px;
	height: 32px;
	margin: 0 auto;
	position: relative;
	top: 3px;
	&.status{
		background-position: -173px -67px;
	}
	&.availability{
		background-position: -206px -67px;
	}
	&.actions{
		background-position: -400px -34px;
	}
}

.item{
	padding: 1em 0;
	//image
	& .img{
		width: 60px;
		height: 60px;
		background: #333;
		margin: 0 auto;
		text-indent: -9999px;
	}
	//product texts
	& .product{

		& .name{

		}
		& .status{

		}
		& .availability{

		}
		& .actions{
			
			& .edit{

			}
			& .delete{

			}
		}
	}

	//list styles
	&:hover{
		background: rgba(#000,0.15)
	}
	&:nth-child(odd){
		background: lighten($base, 45%);
		&:hover{
			background: rgba(#000,0.15)
		}
	}
	ol li {
		display: inline-block;
		width: 182px;
		height: auto;
		text-align:center;
		padding: 0.25em;
	}
}