//Variables

$base: #17b2e4;

.container{
	padding: 0;
	margin:0;
	height: 1.5em;
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}

.menu{
	width: 600px;
	margin: 0 auto;
	margin-top: 1em;
}

#main_nav{
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:1.5em;
	& ul{
		margin:0;
		padding:0;
		list-style-type:none;
		list-style-position:outside;
		position:relative;
		line-height:1.5em;
	}
	& a:link, & a:visited, & a:active {
		display:block;
		padding:0px 5px;
		color:#f4f1ec;
		text-decoration:none;
		width: 150px;
		text-align: center;
	}

	& a:hover{
		color:#333;
	}

	li{
		float:left;
		position:relative;
		& ul{
			& a:link, & a:visited, & a:active {
				background: $base;
			}
			& ul{
				left:12em;
				margin:0px 0 0 10px;
			}
			& a{
				width:12em;
				float:left;
			}
		}
	}

	ul{
		position:absolute;
		width:12em;
		top:1.5em;
		display:none;
		& ul{
			top: auto;
		}
	}

	& li:hover ul ul, & li:hover ul ul ul, & li:hover ul ul ul ul{
		display:none;
	}
	& li:hover ul, & li li:hover ul, & li li li:hover ul, & li li li li:hover ul{
		display:block;
	}
}