@import "reset", "grid", "backend", "menu", "inventory";

body{
	font-family:  "Helvetica Neue", Helvetica, Arial, serif;
	font-size: 16px;
}

.linear-greys{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.button{
	//Button Styles
	padding: 0 0.5em;
	height: 1.50em;
	display: inline-block;
	//Fonts Styles
	font: normal 2.5em/1.5em "Bree Serif", Tahoma, Arial, serif;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.2em;
	box-sizing: border-box;
	//border radius
	-webkit-border-radius: 0.25em; 
	-moz-border-radius: 0.25em; 
	border-radius: 0.25em;
	background-color: black;
	color: white;
	cursor: pointer;
	width: 100%;
	&:hover{
		color: #000;
	}
}

.small{
	max-width: 220px;
	max-height: 50px;
	font-size: 1em;
	margin: 15px auto 0;
}

.orange{
	background: rgb(250,198,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(250,198,149,1) 0%, rgba(245,171,102,1) 47%, rgba(239,141,49,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,198,149,1)), color-stop(47%,rgba(245,171,102,1)), color-stop(100%,rgba(239,141,49,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(250,198,149,1) 0%,rgba(245,171,102,1) 47%,rgba(239,141,49,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */
	//Others
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
	&:hover{
		background: rgb(249,185,124); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(249,185,124,1) 0%, rgba(244,150,68,1) 47%, rgba(237,126,23,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,185,124,1)), color-stop(47%,rgba(244,150,68,1)), color-stop(100%,rgba(237,126,23,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(249,185,124,1) 0%,rgba(244,150,68,1) 47%,rgba(237,126,23,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b97c', endColorstr='#ed7e17',GradientType=0 ); /* IE6-9 */
	}
}