//variables

//colors
$base: #1f5070;
$light-base: #00b0db;
$light-gray: #808086;
$dark-gray: #292828;

//others
$border-radius: 5px;
$transition: color 2.5s ease-in;
$box-shadow-inset: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
$box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);

.button{
	border: none;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border-radius: $border-radius;
	padding: 0.5em 1em;
	-webkit-box-shadow: $box-shadow-inset, $box-shadow;
	box-shadow: $box-shadow-inset, $box-shadow;
}

.small{
	width: 30%;
	color: #fff;
	cursor: pointer;
	&[value*='Ver'] {
		width: 100%;
	}
}