!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]>
/[endif]
%html.no-js{:lang => "es"}
	%head
		%meta{:charset => "utf-8"}/
		/ Set the viewport width to device width for mobile
		%meta{:content => "width=device-width", :name => "viewport"}/
		%title Bienvenido, <name>
		/ Included CSS Files (Compressed)
		%link{:href => "../css/styles.css", :rel => "stylesheet"}
		%link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
		/ IE Fix for HTML5 Tags
		/ [if lt IE 9]
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	%body
		/base header
		.wrapper
			%header.main.top_gradient
				%a.logo{:href => "#"} Karizmi
				.session
					%p 
						Bienvenido,
						%span <Nombre de usuario>
						%a{:href => "#"} Cerrar sesión
		/main navigation
		.container
			%nav.menu
				%ul#main_nav
					%li
						%a{:href =>"#"} Órdenes
					/parent
					%li
						%a{:href =>"#"} Inventario
						/child list
						%ul
							%li
								%a{:href =>"#"} Productos
							%li
								%a{:href =>"#"} Accesorios
							%li
								%a{:href =>"#"} Flores
							%li
								%a{:href =>"#"} Tamaños
							%li
								%a{:href =>"#"} Colores
							%li
								%a{:href =>"#"} Ocasiones
					/parent
					%li
						%a{:href =>"#"} Acciones
						/child list
						%ul
							%li
								%a{:href =>"#"} Banners
							%li
								%a{:href =>"#"} Top de Productos
					/parent
					%li
						%a{:href =>"#"} Configuración
						/child list
						%ul
							%li
								%a{:href =>"#"} Usuarios
							%li
								%a{:href =>"#"} Monedas
							%li
								%a{:href =>"#"} Envíos
							%li
								%a{:href =>"#"} Impuestos
		.wrapper
			/filters div
			.grid
				.cols-1-3
					%h2 Productos
					%h4 Estatus
					%h4 Disponibilidad
					%h4 Ocasión
				.cols-1-3
					%select#status_select
						%option Seleccione..
					%select#availability_select
						%option Seleccione..
					%select#occasion_select
						%option Seleccione..
				.cols-1-3
					.button.blue.small Buscar
					.button.blue.small Crear
			/products grid
			.grid
				.cols-1-1
					%ul
						/explanation of list
						%li.explanation
							%ol
								%li
									Imagen
								%li
									Producto
								%li
									Estatus
									.status_symbols
								%li
									Disponibilidad
									.availability_symbols
								%li
									Acciones
									.actions_symbols
						/inventory list
						%li.item
							.img Imagen
							.product.name Nombre del Producto
							.product.status Estado del Producto
							.product.availability Disponibilidad del Producto
							.product.actions
								%a.edit{:href => "#"} Editar
								%a.delete{:href => "#"} Borrar